body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.header__top{
    background-color: #213c71;
}
.top__menu{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    padding: 34px 0 25px 15px;
}
.logo__title{
    color: #fff;
    font-size: 27px;
    margin-left: 33px;
    text-decoration: none;
}
.nav{
    padding-left: 221px;
    align-items: center;
}
ul.nav__menu{
    margin: 0;
    padding: 0;
}
li.menu__li{
    display: inline-block;
    list-style: none;
    font-size: 17px;
    margin-left: 32px;
}
.nav__menu li:first-child{
    margin-left: 0;
}
.menu__li a{
    text-decoration: none;
    color: #bababa;
}
.nav__menu a:hover{
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}
.offer{
    height: 671px;
    background: url(../img/background.jpg) no-repeat center;
    background-size: cover; 
}
.offer__title{
    font-size: 95px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding-top: 280px;
}
.about{
    text-align: center;
    padding-bottom: 123px;
}
.about__title{
    font-weight: 400;
    text-align: center;
    font-size: 50px;
    margin-top: 84px;
    margin-bottom: 0;
}
.about__content{
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
}
.about__text{
    width: 457px;
    height: 335px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 57px;
    text-align: left;
}
.about__text p:first-child{
    margin-top: 0;
}
.image{
    position: relative;
    margin-top: 57px;
    margin-left: 128px;
    margin-right: 40px;
}
.image__man{
    z-index: 1;
}
.image__shadow{
    position: absolute;
    top: 30px;
    left: 25px;
    width:344px;
    height: 336px;
    z-index: -1;
    background-color: #c4c4c4;
}
.button{
    margin-top: 71px;
    width: 194px;
    height: 48px;
    border-radius: 9px;
    background-color:#bd1c39;
    border: none;
    cursor: pointer;
}
.button:focus{
    outline: none;
}
.button a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 17px;
}
.arrow__up{
    display: flex;
    justify-content: end;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: url("../img/arrow.svg") no-repeat center;
    background-color: #d9e2f2;
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}
.wrapper{
    clear: both;
}
.footer{
    background-color: #213c71;
}
.copyright{
    padding: 52px 0 52px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}
@media (max-width: 960px){
    .container{
        max-width: 960px;
    }
    .nav{
        padding-left: 135px;
    }
    .about{
        flex-direction: column;
        padding-bottom: 123px;
    }
    .about__content{
        align-items: center;
        flex-direction: column-reverse;
    }
    .about__text{
        width: 100%;
        height: 240px;
        padding: 0 10px 0 10px;
        margin-top: 33px;
    }
    .image{
        padding-top: 33px; 
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .image__shadow{
        display: none;
    }
    .button{
        margin-top: 38px;
    }
}
@media (max-width: 720px){
    .container{
        max-width: 720px;
    }
    .nav{
        padding-left: 45px;
    }
    .about{
        flex-direction: column;
        padding-bottom: 123px;
    }
    .about__content{
        align-items: center;
        flex-direction: column-reverse;
    }
    .about__text{
        width: 100%;
        height: 240px;
        padding: 0 10px 0 10px;
        margin-top: 33px;
    }
    .image{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .image__shadow{
        display: none;
    }
    .button{
        margin-top:38px;
    }
}
